body {
    margin: 0;
}

.my-image {
    /* The image used with layover*/
    background: linear-gradient( rgba(12, 2, 104, 0.70), rgba(12, 2, 104, 0.70)), url('images/digital_transformation.jpg');
    min-height: 500px;
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}

.topnav {
    padding: 10px 50px;
    position: relative;
    overflow: hidden;
    font: 15px sans-serif;
}

.topnav a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
}

.topnav a.active {
    color: #FFFFFF;
}

.topnav-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-centered a:hover {
    background-color: rgba(78, 107, 212, 0.83);
    color: #FFFFFF;
    border-radius: 25px;
}
/*.topnav-centered span:hover {*/
/*    color: rgba(78, 107, 212, 0.83);*/
/*}*/

.topnav-right {
    float: right;
}

.square_btn {
    margin-top: 5px;
    margin-right: 15px;
    font: 12px sans-serif;
    display: inline-block;
    padding: 0px 15px;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    text-decoration: none;
    background: transparent;
}

.square_btn:hover {
    background-color: rgba(78, 107, 212, 0.83);
    border-color: rgba(78, 107, 212, 0.83);
}
.square_btn a {
    padding: 12px 20px;
}

.container {
    padding-top: 150px;
    margin: auto;
    width: 40%;
    text-align: center;
    color: #FFFFFF;
}
header{
    font: 40px sans-serif;
    font-weight: normal;
}
.input-style {
    margin-top: 30px;
    border: transparent;
    height: 30px;
    width: 200px;
    border-radius: 25px;
    margin-right: 15px;
    font: 12px sans-serif;
}

.search_button_style {
    margin-top: 30px;
    border: transparent;
    padding: 12px 20px;
    border-radius: 25px;
    font: 10px sans-serif;
    color: #FFFFFF;
    /*background-color: rgba(78, 107, 212, 0.83);*/
    background-color: rgba(49, 82, 201, 1);
}
input:focus,
select:focus,
button:focus {
    outline: none;
}

/*flexbox*/

* {
    box-sizing: border-box;
}

.flex-container {
    flex-wrap: wrap;
    padding-top: 10px;
    margin: auto;
    max-width: 600px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.job_select {
    color: rgb(12, 2, 104);
}

.flex-item {
    font-weight: normal;
    font: 10px sans-serif;
    color: rgb(12, 2, 104);
    text-align: center;
    margin: 1em;
    flex-basis: 15%;
    outline: 1px solid #d0cdcd;
    padding: 20px 30px;
}
.flex-item:hover {
    background-color: rgba(78, 107, 212, 0.83);
    border-color: rgba(78, 107, 212, 0.83);
}

.header_flex {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font: 25px sans-serif;
    font-weight: bold;
    color: rgb(12, 2, 104);
}
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}
